NODE_ENV=development
PORT=3000
ALLOWED_ORIGINS="localhost, 127.0.0.1"
API_VERSION=v1
JWT_SECRET=9jr28ywhicpy8r29
JWT_AUDIENCE="myapp.com"
JWT_ISSUER="auth.myapp.com"
JWT_EXPIRY=86400 # 1 day in seconds
MONGODB_URI=
